<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="spim_online_style.css" />
	<title>{% block title %} Spim Online Demo {% endblock %} </title>
</head>

<body>
	<div id="Heading">
	<h1> Spim Online Demo </h1>
	<p>Hello, {{username}}! Please enter in your query in the form below. Don't forget to give the epsilon value you wish to give to expend. A higher epsilon value will yield more accurate results, but allow fewer future queries. </p>


	</div>

	<div id="form">
	<form action='/spim_module/' method='post'> {% csrf_token %}
	{{ form.as_p }}
	<input type='submit' value='Submit' />
	</form>
	</div>

	<div id="results">
	{% block results %}

	{% endblock %}
	</div>

	<br /> <br />

	<div id="logout">
	<form action='logout/' method='get'> {% csrf_token %}
	<input type='submit' value='Logout' />
	</form>
	</div>
</body>
</html>




